<!DOCTYPE html>
<html>
<head>
  	<title>Todo</title>
  	{% load staticfiles %}
  	<script src="{% static 'jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>
  	<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="todolist not-done">
            <h1>What's on you mind today?</h1>
            <input type="text" class="form-control add-todo" id="todo_add_title" placeholder="Add todo">
            <input type='date' class="date form-control add-todo">

            <hr>
            <input type="text" class="form-control" id="search" placeholder="Search By title &#13;">
            <hr>
            <button class="btn" id="filterToday">Today</button>
            <button class="btn" id="filterWeek">This Week</button>
            <button class="btn" id="filterNextweek">Next Week</button>
            <button class="btn" id="filterOverdue">Overdue</button>
            <button class="btn" onClick="window.location.reload()">Reset</button>
            <hr>
            <ul id="sortable" class="list-unstyled toAppend"></ul>
          </div>
      </div>
  </div>
</div>
</body>
<script src="{% static 'app.js' %}"></script>
  <p style="margin-left: 42%;">Made with <span style="color: #e74c3c">&hearts;</span> by Subham Bhattacharjee</a></p>
</html>