<!DOCTYPE html>
<html>
<head>
  	<title>Todo</title>
  	{% load staticfiles %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="form-group">
      <input type="text" class="form-control" id="todo_add" placeholder="What Needs to done??" name="todo">
      By when: <input type='date' class="date">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" id="search" placeholder="Search By title">
      <button class="btn" id="filterToday">Today</button>
      <button class="btn" id="filterWeek">This Week</button>
      <button class="btn" id="filterNextweek">Next Week</button>
      <button class="btn" id="filterOverdue">Overdue</button>
      <button class="btn" onClick="window.location.reload()">Reset</button>
  </div>

	<ul class="toAppend"></ul>
</body>
<script src="{% static 'app.js' %}"></script>
</html>